# Framework-uri de bază
Django==5.2.7
djangorestframework==3.16.1

# Configurare & Utilitare
sqlparse==0.5.3
python-decouple==3.8
python-dateutil==2.9.0.post0

# Frontend & Formulare
django-crispy-forms==2.4
crispy-bootstrap5==2025.6

# Documentație API
drf-spectacular==0.28.0

# Testare & Calitate (pentru CI/CD)
black==24.4.2
ruff==0.14.3
pytest==8.4.2
pytest-django==4.11.1

# Script-ul de alerte
django-crontab==0.7.1