{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Resetează Parola{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title text-center">Resetează Parola</h2>
        <p>Am uitat parola? Introdu adresa de email mai jos și îți vom trimite instrucțiuni pentru a seta o parolă nouă.</p>

        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary">Trimite</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}