body {

  background-color: #000;
  background-image: 

    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),

    url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/46f37945885079.584030cfd603d.gif');

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes fadeIn {

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


main.container {
  animation: fadeIn 0.5s ease-out;
}

[data-bs-theme="dark"] .card {
  background-color: transparent;
  border: 1px solid #495057;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}


.btn-pulse {
  animation: pulse 2s infinite;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
